.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    width: 100%;
}

:global(.swipeable-list-item--remove).removing {
    margin-bottom: 0;
    max-height: 0 !important;
}